.sandwich {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}

#bootao:hover{
	background-color: #cdd102
}

.main-search_input{
	width:500px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	border: solid 1px white;
	height: 32px;
}

.enviar{
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-weight: bold;
	margin: 0px 20px 0px 75px
}

.enviar:hover{
	text-decoration: none;
	color: white;
	background-color: #cdd102
}

.entrar{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size:18px;
}

.entrar:hover{
	text-decoration: none;
	color: white;
	background-color: #cdd102
}

#procurar{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: white;
	border-radius: solid 1px white;
	height: 32px;
	width: 40px;
	text-align: center;
	padding-top: 9px 
}

.main{
	background-color: #424242;
	border-radius:16px;
	color: white;
	font-weight: 700;
	height: 32px;
	width: 82px;
	padding: 0px 15px 0px 15px;
	text-align: center;
	margin-right: 6px;
}

.main:hover{
	text-decoration: none;
	color: white
}

.rock{
	border-radius: 16px;
	display: inline-block;
	font-weight: 700;
	height: 32px;
	width: 82px;
	padding: 0 15px;
	margin-right: 6px;
	text-align: center;
	color: black;
	border:solid 1px #EEE;
}

.rock:hover{
	color: black;
	background-color: #EEE;
	text-decoration: none;
}

.gospel{
	border-radius: 16px;
	display: inline-block;
	font-weight: 700;
	height: 32px;
	width: 82.86px;
	padding: 0 15px;
	margin-right: 6px;
	text-align: center;
	color: black;
	border:solid 1px #EEE;
	background-color: white;
}

.gospel:hover{
	color: black;
	background-color: #EEE;
	text-decoration: none;
}

.sertanejo{
	border-radius: 16px;
	display: inline-block;
	font-weight: 700;
	height: 32px;
	width: 100px;
	padding: 0 15px;
	margin-right: 6px;
	text-align: center;
	color: black;
	border:solid 1px #EEE;
	background-color: white;
}

.sertanejo:hover{
	color: black;
	background-color: #EEE;
	text-decoration: none;
}

.funk{
	border-radius: 16px;
	display: inline-block;
	font-weight: 700;
	height: 32px;
	width: 82px;
	padding: 0 15px;
	margin-right: 6px;
	text-align: center;
	color: black;
	border:solid 1px #EEE;
	background-color: white;
}

.funk:hover{
	color: black;
	background-color: #EEE;
	text-decoration: none;
}

.mais{
	border-radius: 16px;
	display: inline-block;
	font-weight: 700;
	height: 32px;
	width: 82px;
	padding: 0 15px;
	margin-right: 6px;
	text-align: center;
	color: black;
	border:solid 1px #EEE;
	background-color: white;
}

.mais:hover{
	color: black;
	background-color: #EEE;
	text-decoration: none;
}

.ft{
	border-radius: 20px;
	width:1075px; 
	height:320px;
}

a span.ouvirFt{
	width: 488.781px;
	height: 30px;
	padding: 0px 15px 0px 34px;
	border:solid 1px #5EB70B;
	background-color: #5EB70B;
	color:#FFF;
	font-weight: 700;
	border-radius: 20px;
	margin-left: 55px;
	text-decoration: none;
	margin-top: -30px
}

.ouvirFt:hover{
	text-decoration: none
}

.grindevaldo:hover{
	text-decoration: none;
}

.maisAcessados{
	float: left;
}

.acessos{
	color:#b7b700;
	font-size: 25px;
}

.acessos:hover{
	color:#b7b700;
}

.verTudo{
	width: 215.141px;
	height: 30px;
	padding: 10px 20px 10px 20px;
}

a.ver{
	color: black;
	border-radius: 10px;
	font-size: 15px;
	font-weight: 700
}

.ver:hover{
	text-decoration: none;
	background-color: #EEEEEE
}

.top-list_mus cnt-list--col2{
	width: 695px;
	height:320px;
}

.top-list_mus li{
	height:64px;
	width: 335px; 
	counter-increment: tlmus;
}

.top-list_mus a{
	height: 34px;
	width: 269px;
	padding: 15px 10px 15px 56px;
	text-decoration: none;
	border-radius:8px;
}
b{
 	color:#F60;
 	font-size: 15px;
 	height: 25px;
 	display: block;
 	overflow: hidden;
 	white-space: nowrap;
 	text-overflow: ellipsis;
 }

span{
 	margin-top: 3px;
 	color: #999;
 	font-size: 13px;
 	height: 13px;
 	width: 269px
 }

 .top-list_mus li:hover{
 	background-color: #CCCCCC
 }

 ol 
 {
 	font-size:30px;
 }
 #musica 
 {
 	color:#F60;
 	font-size: 15px;
 	height: 25px;
 	display: inline-block;
 	overflow: hidden;
 	white-space: nowrap;
 	text-overflow: ellipsis;;
 }

 #artista{
 	margin-top: -30px;
 	background-color: yellow
 } 

 #msc:hover{
 	background-color: #EEEEEE;
 	color: #F60
 }

 .msc:hover{
 	text-decoration: none;
 	background-color: #EEEEEE
 }

 span.nmr{
 	font-size: 45px;
 	text-align: center;
 }

 .utmnmr{
 	font-size: 45px;
 }

 .cantor{
 	height: 76px;
 	width: 76px;
 	display: block;
 	position: relative;
 	font-size: 0;
 	text-decoration: none; 
 	border-radius: 50%;
 }

 .colocacao{
 	background-color: #B7B700;
 	color: white;
 	border: solid 0.5px white;
 	height: 30px;
 	width: 30px;
 	text-align: center;
 	border-radius: 50%;
 	margin-top: -25px;
 	z-index: 999;
 }

 b.nome{
 	color: #B7B700;
 	font-weight: 700;
 	font-size: 20px 
 }

.col-1:hover .nmr{
 	color: #F60
 }

.col-1:hover .utmnmr{
 	color: #F60
 }

 #hover:hover{
 	background-color: #EEEEEE;
 	text-decoration: none;
 	border-radius: 10px
 }

 .linkzao:hover{
 	text-decoration: none
 }

.tituloPL{
	color: black;
}

.playlists:hover{
	text-decoration: none;

}

a span.ouvirMSC{
	width: 263.734px;
	padding: 0px 15px 0px 34px;
	border:solid 1px #5EB70B;
	background-color: #5EB70B;
	color:#FFF;
	font-weight: 700;
	border-radius: 20px;
	margin-left: 55px;
	text-decoration: none;
}

.playRe:hover{
	text-decoration: none;
}

.capaAlbum{
	height: 155px;
	width: 155px;
	border-radius: 5px;

}

span.tituloPL{
	font-weight: 700;
	color: black
}

span.autor{
	display: inline-block;
}

.artist{
	height: 75px;
	width: 75px;
	border-radius: 50%;
	display: block;
}

.recomended:hover{
	text-decoration: none;
	background-color: #EEEEEE;
	border-radius: 5px
}

.radio{
	border: 1px solid #CCCCCC;
	border-radius: 8px;
	height: 183px;
	width: 189px;
	text-align: center;
	line-height: 1.2;
	z-index: 2;
	margin-right: 15px
}

.FTRadio{
	height: 45px;
	width: 45px;
	margin-top: 10px;
	border-radius: 6px
}

.ouvirRadio{
	border-radius: 8px;
	height: 183px;
	width: 189px;
	margin-right: 15px
}

.ouvirRadio:hover{
	border: 1px solid black;
	text-decoration: none;
}

.combinacao:hover{
	text-decoration: none
}

.contribuidor:hover{
	text-decoration: none
}

.footer{
	background-color: #EEE;
	border-top: 1px solid #E0E0E0 
}

.g-1{
	background: url(https://studiosol-a.akamaihd.net/letras/static/img/bg-footer.vc113c9d3.svg) bottom right no-repeat;
	width: 1055px; 
	height: 724px;
	padding: 25px 0px 35px 0px; 
	margin:0px 146.5px 0px 450px;
}

.alfabeto a{
	color:#999;
	padding-right:15px;
	display: inline-block;
}

.alfabeto a:hover{
	color: #444
}

.g-fix{
	padding-top: 15px;
}

.g-fix a{
	color: #999
}

.g-fix a:hover{
	color:#444;
}

.app{
	height: 45px;
	width: 140px; 
	padding-right: 15px;
	margin-right: 15px;
}

.app:hover{
	border:solid 1px black;
	border-radius: 8px;
}

.g-1 a:hover{
	text-decoration: none;
}

.face:hover{
	background-color: #5e8aff
}

.insta:hover{
	background-color: #EEEEEE
}
.espanha{
	border-radius: 6px;
	border: solid 1px #CCC;
	color: black;
	width: 70px;
	text-align: center;
	display: inline; 
	margin-right: 5px
}

.espanha:hover{
	border: solid 1px black;
	color: black;
	text-decoration: none
}

.ingles{
	border-radius: 6px;
	border: solid 1px #CCC;
	color: black;
	width: 70px;
	text-align: center;
	display: inline
}

.ingles:hover{
	border: solid 1px black;
	color: black;
	text-decoration: none
}